.header {
    text-align: center;
}

.logo {
    width: 200px;
}

.header nav {
    background: #000;
    line-height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover {
    background: white;
    color: black;
}